footer {
  background-color: #63151a;
  color: #fff;
  padding: 10px 20px;
  align-items: center;
  display: inline-block;
  width: calc(100% - 40px);
}
.social-media{
  text-align: center;
}
.social-media a{
  color: #FFF;
  font-size: 1.4em;
  margin-left: 5%;
}
.social-media a:hover{
  color: #FFF;
}
footer div p, footer div a{
  text-align: center;
}
#whatsappLink{
  position:fixed;
  bottom:7%;
  right:30px;
}
.whatsapp {
  width: 5em;
  transition: background-color 0.3s ease; 
}

.whatsapp:hover {
  filter: hue-rotate(0deg) saturate(150%); /* Adjust to achieve #7c0000 */
  animation: shake 0.5s;
}
@media (max-width: 999px) {
  .whatsapp{
    width: 3em;
  }
  #whatsappLink{
    position:fixed;
    bottom:20%;
    right:30px;
  }
}
@keyframes shake {
  0% { transform: translate(0, 0); }
  20% { transform: translate(10px, 0); }
  30% { transform: translate(-10px, 0); }
  60% { transform: translate(10px, 0); }
  70% { transform: translate(-10px, 0); }
  80% { transform: translate(10px, 0); }
  90% { transform: translate(-10px, 0); }
  100% { transform: translate(0, 0); }
}